body {
    /*background-color:hwb(0 2% 8% / 0.9);*/
    background-color: rgba(255, 0, 230, 0.389);
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgba(255, 0, 208, 0.404), yellow);
    font-family: Arial, sans-serif;
}

nav {
    background-color: white;
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 30px;
}

h1 {
    text-align: center;
}

h1 {
    color: aquamarine;

}

.image {
    position: relative;
    max-width: 100%;

}

.image img {
    max-width: 100%;
    height: 100%;
}

.text-block {
    position: absolute;
    top: 480px;
    right: 450px;
    transform: translate(-50%, -50%);
    background-color: rgba(242, 106, 106, 0.652);
    padding: 35px;
    color: #fff;
}

@media (max-width: 768px) {
    .text-block {
        font-size: 16px;
    }
}

h2 {
    font-size: 40px;
}

h4 {
    text-align: center;
}

p {
    font-size: larger;
}


.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #fff;
    padding: 1px; /* Adjust the padding for spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1px 50px 1px 50px;
}

.card .image-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    
    align-items: center;
}

.card img {
    max-width: 150px;
    max-height: 100%;
    width: 200px;
    height: auto;
    padding-left: 35px;
    object-fit: cover; /* Ensure the image fits inside the container */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

button {
    border-radius: 50px;
    height: 30%;
    width: 15%;
    font-size: larger;
    color: brown;
}
